main {
    display: flex;
    flex-flow: column nowrap;
}
main > h1 {
    text-align: center;
}
main > .grid {
    display: flex;
    min-height: 400px;
    flex-grow: 1;
    justify-content: center;
    flex-flow: row wrap;
}

.character-card {
    background-size: cover;
    min-width: 200px;
    max-width: 300px;
    text-align: center;
    min-height: 266px;
    height: auto;
    max-height: 400px;
    flex-basis: 300px;
    margin: 5px;
    background-color: var(--background-color-medium);
    display: flex;
    flex-flow: column-reverse;  
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    text-decoration: none;
}
.character-card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;
}
.character-card:hover * {
    cursor: pointer;
}
.character-card > .character-info {
    width: 100%;
    background-color: rgba(32, 32, 32, .85);
    padding: 5px;
    display: flex;
    flex-flow: column nowrap;
}
.character-card > .character-info > h2 {
    margin: 0px;
}
.character-card:hover > .character-info {
    background-color: rgba(32, 32, 32, 1);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}