<div class="toolbar-left">
    <a href="character_select.html"><img id="img-back" src="img/icon/arrow-left.svg" title="Back to Character Select"></img></a>
    <a href="character_info.html"><img id="img-character-info" src="img/icon/user.svg" title="Character Info"></img></a>
    <a href="combat.html"><img id="img-combat" src="img/icon/shield.svg" title="Combat"></img></a>
    <a href="spells.html"><img id="img-spells" src="img/icon/book-open.svg" title="Spells"></img></a>
    <a href="inventory.html"><img id="img-inventory" src="img/icon/grid.svg" title="Inventory"></img></a>
    <a href="notes.html"><img id="img-notes" src="img/icon/book.svg" title="Notes"></img></a>
    <a href="settings.html"><img id="img-settings" src="img/icon/settings.svg" title="Settings"></img></a>
</div>