<div class="toolbar-left">
    <a href="character_select.html"><img id="img-back" src="img/icon/arrow-left.svg" title="Back to Character Select"></img></a>
    <img id="img-character-info" src="img/icon/user.svg" title="Character Info"></img>
    <img id="img-combat" src="img/icon/shield.svg" title="Combat"></img>
    <img id="img-spells" src="img/icon/book-open.svg" title="Spells"></img>
    <img id="img-inventory" src="img/icon/grid.svg" title="Inventory"></img>
    <img id="img-notes" src="img/icon/book.svg" title="Notes"></img>
    <img id="img-settings" src="img/icon/settings.svg" title="Settings"></img>
</div>